@model IEnumerable<BibliotecaWebApplication.Models.ViewModels.UserRolesViewModel>

<h2>Administrar Roles del Usuario</h2>

<table class="table">
    <thead>
        <tr>
            <th>Correo</th>
            <th>Roles</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <a asp-action="Manage" asp-route-userId="@user.UserId" class="btn btn-primary">
                        <i class="fas fa-cog"></i> Administrar Roles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>